.loadingBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 22%;
  }
  
  .round {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 20px;
  }
  
  .roundGreen {
    background-color: green;
  }
  
  .roundRed {
    background-color: red;
  }
  
  .roundYellow {
    background-color: yellow;
  }
  
  .roundAqua {
    background-color: aqua;
  }
  
  .roundLightgray {
    background-color: lightgrey;
  }
  
  .roundGray {
    background-color: gray;
  }