.modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);

    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.modalBox {
    position: relative;
    width: 530px;
    min-width: 400px;
    height: 280px;
    margin: 0 10%;
    box-sizing: border-box;
    border-radius: 5px;
    cursor: auto;
    background-color: white;
}

.modalBoxLight {
    background-color: white;
}

.modalBoxDark {
    background-color: rgba(44, 43, 43, 1);
    color: white;
}

.title {
    font-size: 1.5rem;
    font-weight: 500;

    padding: 25px;
    border-bottom: 1px solid lightgrey;

    display: flex;
    justify-content: space-between;
}

.content {
    font-size: 1rem;
    line-height: 35px;

    padding: 25px;
    border-bottom: 1px solid lightgrey;
}

.emailPhone {
    color: blue;
}

.closeIcon {
    width: 20px;
    height: 20px;
}

.closeButton {
    width: 15%;
    height: 15%;

    font-size: 1rem;
    border: none;
    border-radius: 5px;

    color: white;
    background-color: rgba(0, 0, 0, 0.5);

    margin: 20px 0 20px 80%;
}