.postForm {
    width: 255px;
    height: 500px;

    border: 2px solid lightgrey;
    border-radius: 3px;   
}

.formLight {
    background-color: white;
}

.formDark {
    background-color: rgb(95, 75, 139);
}

.description {
    width: 255px;
    min-width: 255px;
    height: 500px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: inherit;
}

.descriptionLight {
    color: black;
}

.descriptionDark {
    color: white;
}

.link {
    color: inherit;
    text-decoration: inherit;
}

.title {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    padding: 6%;
}

.body {
    font-size: 1.2rem;
    text-align: center;
    padding: 6%;
}

.author {    
    height: 80px;
    display: table;
}

.authorLight {
    background-color: lightgrey;
}

.authorDark {
    background-color: rgba(73, 17, 64, 0.377);
}

.authorMaintext {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 25px;
    font-size: 1.2rem;

}

.authorText {
    padding: 10px;
    color: rgb(4, 4, 228);
    text-align: center;
    cursor: pointer;
}